.App {
  text-align: center;
}
body{font-family: Arial, Helvetica, sans-serif;font-size: 20px}

.movie{display: flex; align-items: center;border:1px solid #666; padding: 10px; border-radius: 5px;margin-bottom: 5px}
.movie .movie-title{flex-grow:1}
.movie .movie-year{color: red; font-size:.95rem}

.active{font-weight: bold; color:red;}
